.orders {
    width: 100%;
    padding: 10px;
}

tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}

td {
    padding: 5px;
}

th {
    text-align: left;
}

.form_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    background-color: rgb(243, 232, 234);
}
.form_container input {
    font-size: 1.8rem;
}
.form_container button {
    font-size: 1.5rem;
}

.header_admin_section {
    display: flex;
    justify-content: center;
}
.header_admin_section button {
    color: white;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    right: 2rem;
}
.header_admin_section button:hover {
    color: teal;
}
