.slide_container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    /* width: 100%; */
    background-color: white;
    color: black;
    z-index: 1000;
    /* overflow-y: hidden; */
}
.overlay_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 320px) and (max-width: 425px) {
    .slide_container {
        width: 85%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .delete_container {
        margin-left: 200px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .slide_container {
        width: 36%;
    }
    .delete_container {
        margin-left: 250px;
    }
}
