* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.active {
    display: none;
}

body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* .grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
} */

body, input, select, button, textarea {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}

a:hover {
    color: orange;
}

/* Header component styles */

.responsive_menu {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;
    padding: 30px 10px;
}

header img {
    height: 50px;
    margin: 2.2rem;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 30px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: yellow;
}

.search_header {
    width: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 20px;
    padding: 4px 45px 5px 20px;
    border: 0;
    outline: none;
}

.fa-shopping-cart, .fa-user-circle, .fa-bars, .fa-search {
    color: white !important;
    font-size: 2.5rem;
}

.menu_header {
    display: flex;
}

.menu_header a {
    padding: 0.8rem;
}

.menu_text {
    margin-top: 1rem;
}

.user_container {
    display: flex;
}

.user_container a {
    padding: 0.8rem;
}

.menu_text {
    padding-top: 0.13rem;
    font-weight: bold;
}

/* end of Header component styles */

main {
    grid-area: main;
    /* display: none; */
}

footer {
    grid-area: footer;
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 3 60rem;
}

.sidebar {
    flex: 1 20rem;
}

/* products */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.products li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img {
    max-width: 37rem;
    max-height: 37rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price div, .product-price button {
    text-align: center;
    flex: 1;
}

.product-price div {
    font-size: 2rem;
}

.btn {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
}

.btn:hover {
    border: 0.1rem #1a0000 solid;
}

.btn.primary {
    background-color: orange;
}

/* filter */

.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
    flex: 1;
}

/* cart */

.cart {
    padding: 1rem;
    margin: 1rem;
    display: flex;
}

.cart-header {
    border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.cart-items img {
    width: 5rem;
}

.cart-items li {
    display: flex;
}

.cart-items li div {
    padding: 0.5rem;
}

.cart-items li div:last-child {
    flex: 1;
}

.right {
    text-align: right;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.total>div {
    font-size: 2rem;
}

.total>div, .total>button {
    flex: 1;
}

/* checkout component */

.form-container {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

form {
    width: 100%;
}

input {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
}

.form-container li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Product details */

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 96vh;
}

.product-details img {
    max-height: 80vh;
    max-width: 46rem;
    margin: 0 auto;
}

.product-details-description {
    flex: 1 1;
    margin: 1rem;
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    z-index: 100;
}

/* media queries */

@media (min-width: 1024px) and (max-width: 1440px) {
    .search_header {
        width: 500px !important;
    }
}

@media (min-width: 767px) {
    .nav__links li {
        padding: 0 10px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .responsive_menu li {
        padding: 0 40px !important;
    }
    .menu_responsive_icon {
        right: 0rem !important;
    }
}

@media (max-width:767px) {
    .nav__links, .menu_header {
        display: none;
    }
    header img {
        height: 40px;
        margin: 1rem;
        position: absolute;
        top: .5rem;
        left: 1rem;
    }
    .menu_responsive_icon {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
    .responsive_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .responsive_menu li {
        padding: 0 20px;
    }
}