* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.active {
    display: none;
}

body,
#root {
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body,
input,
select,
button,
textarea {
    font-size: 1.6rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

a:hover {
    color: orange;
}

footer {
    /* grid-area: footer; */
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.container {
    text-align: center;
}

.btn {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
}

.btn:hover {
    border: 0.1rem #1a0000 solid;
}

.btn.primary {
    background-color: orange;
}

/* checkout component */

.form-container {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

form {
    width: 100%;
}

input {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
}

.form-container li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Product details */

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 96vh;
}

.product-details img {
    max-height: 80vh;
    max-width: 46rem;
    margin: 0 auto;
}

.product-details-description {
    flex: 1 1;
    margin: 1rem;
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    z-index: 100;
}
